* {
    box-sizing: border-box;
}

body {
    background-color: #f0fdff;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.text {
    font-size: 20px;
}

.text.bold {
    font-weight: 700;
}

.image {
    width: 100%;
    height: auto;
}

.link {
    display: inline-block;
    margin: 30px 0 50px;
    color: #1a689c;
    font-size: 20px;
    font-weight: 700;
}

.link:hover {
    color: #46a6e6;
}
